<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net, Version=2.0.8.0, Culture=neutral, PublicKeyToken=669e0ddf0bb1aa2a" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<log4net>
		<appender name="LoggingSample" type="log4net.Appender.RollingFileAppender">
			<file value="..\..\LoggingSample.log" />
			<appendToFile value="true" />
			<rollingStyle value="composite" />
			<staticLogFileName value="true" />
			<maxSizeRollBackups value="100" />
			<maximumFileSize value="20MB" />
			<datePattern value=".yyyy-MM-dd" />
			<countDirection value="1" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="[%utcdate{ISO8601}] [%thread] [%level] [%property{transaction}] [%logger{1}] [%property{callerMemberName}] [%property{callerFilePath}:%property{callerLineNumber}] %message%newline%exception" />
			</layout>
		</appender>
		<root>
			<level value="TRACE" />
			<appender-ref ref="LoggingSample" />
		</root>
	</log4net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>